<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
        <h1 class="text-center">Registrazione nuova API</h1>
        <form class="smallmargintop">
			<p class="help-block">Registra una nuova API da esporre ai clienti di APIMarket.</p>
			<div class="alert alert-danger" ng-if="!ok" role="alert">
				<ul ng-repeat="error in errors">
					<li>{{error}}</li>
				</ul>
			</div>
            <!-- Inserisci Nome API -->
            <div class="form-group">
				<label for="name">Nome API</label>
				<input type="text" ng-model="nomeapi" class="form-control" id="name" name="name" placeholder="Nome API" />
            </div>
            <!-- Inserisci Descrizione API -->
            <div class="form-group">
                <label for="description">Descrizione</label>
                <textarea ng-model="descrizione" class="form-control" id="description" name="description" rows="3" placeholder="Descrizione"></textarea>
            </div>
            <!-- Scegli Categoria -->
            <div class="form-group">
				<label>Categorie:</label>
				<button ng-repeat="category in categories" IdCategory="{{category.IdCategory}}" type="button" class="{{category.Class}}" data-ng-click="addNewCategory($event)">{{category.Name}}</button>
				<p class="help-block">Seleziona almeno una categoria altrimenti la tua API non sarà visibile</p>
            </div>
            <!-- Subservizi_i -->
            <div ng-repeat="subservice in subservices track by $index" class="thumbnail">
				<div class="form-group">
					<h3 class="text-center" ng-if="$index == 0" ng-cloak><b>API</b></h3>
					<h3 class="text-center" ng-if="$index > 0" ng-cloak>SubServizio {{$index}}</h3>
					<!-- Inserisci Location -->
					<div>
						<label for="location">Location:</label>
						<input type="text" ng-model="subservice.location" class="form-control" id="location" name="location" placeholder="Location:socket://localhost:8030" />
					</div>
					<!-- Inserisci Protocol -->
					<div class="form-group">
						<label for="protocol">Protocol:</label>
						<input type="text" ng-model="subservice.protocol" class="form-control" id="protocol" name="protocol" readonly />
					</div>
					<!-- Interfacce_i_j -->
					<div  ng-repeat="interface in subservice.interfaces track by $index">
						<div class="form-group">
							<label for="interface">Interface:</label>
							<textarea style="height: 100px; resize:vertical;" class="form-control" ng-model="interface"></textarea>
							<input accept=".iol" IDS="{{$parent.$index}}" IDI="{{$index}}" type="file" onchange="angular.element(this).scope().saveInterface(this)" id="interface" name="interface" />
							<p class="help-block" ng-if="$parent.$index == 0" ng-cloak>Inserisci l'interfaccia .iol del tuo servizio</p>
							<!-- Per implementarezione subservizio di APIMarket futura
							<p class="help-block" ng-if="$parent.$index > 0" ng-cloak>Inserisci l'interfaccia .iol del subservizio. Attenzione, deve essere un'interfaccia originale. Le interfacce ricavate da API Market non funzioneranno.</p>
							-->
						</div>
					</div>
				</div>
            </div>
			<!-- Per implementarezione subservizio di APIMarket futura
			<button class="btn btn-success" ng-click="addNewSubService()">Aggiungi SubServizio</button>
			<button class="btn btn-danger" ng-click="removeSubService()">Rimuovi Subservizio</button>
			-->

            <!-- Inserisci documentazione pdf -->
            <div class="form-group smallmargintop">
                <label for="docpdf">Inserisci la documentazione in formato pdf</label>
                <input accept=".pdf" type="file" id="docpdf" name="docpdf" onchange="angular.element(this).scope().uploadpdf(this)" />
                <p class="help-block" ng-if="docpdf == null">La documentazione è importante nella fornitura di un servizio</p>
            </div>
			
            <!-- Inserisci documentazione esterna -->
            <div class="form-group">
                <label for="docext">Inserisci link alla documentazione esterna</label>
                <input type="text" ng-model = "docexternal" class="form-control" id="docext" name="docext" placeholder="Link Doc Esterna" />
				<p class="help-block" ng-if="docexternal == null">La documentazione è importante nella fornitura di un servizio</p>
            </div>
			
            <!-- Scegli Policy -->
            <div class="form-group">
                <label for="policy">Policy di Vendita</label>
                <!-- Sceglio Policy a chiamate -->
                <div class="radio">
					<label>
						<input type="radio" ng-model="policy" name="optionsRadios" id="optionsRadios1" value="1" checked />
						<p>Per numero di chiamate (per singola chiamata)</p>
					</label>
                </div>
                <!-- Sceglio Policy a tempo -->
                <div class="radio">
					<label>
						<input type="radio" ng-model="policy" name="optionsRadios" id="optionsRadios2" value="2" />
						<p>Per tempo di utilizzo (per ogni millisecondo)</p>
					</label>
                </div>
                <!-- Sceglio Policy per traffico -->
                <div class="radio">
					<label>
						<input type="radio" ng-model="policy" name="optionsRadios" id="optionsRadios2" value="3" />
						<p>Per traffico dati (per ciascun byte)</p>
					</label>
                </div>
            </div>
			
            <!-- Inserisci Guadagno -->
            <div class="form-group">
                <label for="guadagno">Inserisci guadagno API</label>
                <input type="text" ng-model="guadagno" class="form-control" id="guadagno" name="guadagno" placeholder="Guadagno" />
				<p class="help-block" ng-if="guadagno == null">Inserisci il guadagno in &euro; che desideri ottenere per chiamata/millisecondo di utilizzo/byte di traffico</p>
				<p class="help-block" ng-if="guadagno != null">Guadagnerai {{0.01 * guadagno}}&euro; per chiamata/millisecondo di utilizzo/byte di traffico</p>
            </div>
			
			 <!-- Inserisci SLA Garantita -->
            <div class="form-group">
                <label for="slagarantita">Inserisci SLA garantita API</label>
                <input type="text" ng-model="slagarantita" class="form-control" id="slagarantita" name="slagarantita" placeholder="SLA garantita" />
				<p class="help-block" ng-if="slagarantita == null">Inserisci il tempo di risposta massimo garantito dalla tua API. Attenzione, le chiamate che lo superano, saranno gratuite</p>
				<p class="help-block" ng-if="slagarantita != null">Le chiamate alla tua API che avranno un tempo di risposta &gt;{{slagarantita}} millisecondi saranno gratuite</p>
            </div>
			
            <!-- Inserisci Logo -->
            <div class="form-group">
                <img ng-src="{{logo_presentation}}" class="img-responsive" class="img-thumbnail">
                <label for="logo">Inserisci logo API</label>
                <input accept="image/*" type="file" onchange="angular.element(this).scope().uploadlogo(this)" id="logo" name="logo" />
                <p class="help-block">Il logo deve essere in formato png, jpeg oppure gif</p>
            </div>
			
            <!-- Conferma -->
            <button type="submit" ng-click="submit()" class="btn btn-primary">Conferma registrazione API</button>
        </form>
    </div>
</div>
