<div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
          <h3 class="text-center">Riepilogo acquisto API</h3>
		  <p class="smallmargintop">Acquisto dell'API {{Name}} effettuato con successo!</p>
		  <p>Chiave API:</p>
		  <p class="panel panel-primary"><b>{{APIKey}}</b></p>
		  <p>Se smarrisci la chiave API potrai ottenerne una nuova nella pagina API Acquistate.</p>
		  <p>Vai alla pagina <a href="#!/api_acquistate">API Acquistate</a>.</p>
		  <p>Torna alla <a href="#!">Home</a>.</p>
      </div>
</div>
