<div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
          <h3 class="text-center">Acquisto API</h3>
		  <p class="text-center">Hai acquistato con successo l'API selezionata!</p>
		  <p class="text-center"><b>Ecco la tua chiave API:</b></p>
		  <p class="text-center">d683333e-5805-463e-a965-d7737ec8ab36</p>
		  <p class="text-center"><b>Attenzione, non ci sarà modo di recuperarla una volta uscito dalla pagina</b>.</p>
		  <p class="text-center">Torna alla <a href="#!">Home</a>.</p>
      </div>
</div>
