<div class="row">
	<div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
		<h3 class="text-center">Reset Password:</h3>
        <form>
			<div class="alert alert-danger" role="alert">Password non valida</div>
			<div class="alert alert-danger" role="alert">Le due password non corrispondono</div> 
			<!-- Inserisci Nome API -->
            <div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="password" placeholder="es. Am78*Klop" />
            </div>
            <p class="help-block">La password deve essere composta da almeno 8 caratteri, contenere almeno un carattere appartenente alle lettere maiuscole (dalla A alla Z), contenere almeno un carattere appartenente ai primi 10 numeri di base (da 0 a 9), contenere almeno un carattere appartenente ai caratteri non alfabetici (es. *,@,#,+).</p>
            <div class="form-group">
				<label for="repassword">Reinserisci Password:</label>
				<input type="password" class="form-control" id="repassword" placeholder="es. Am78*Klop" />
            </div>
            <!-- Conferma -->
            <button type="submit" class="btn btn-default">Conferma nuova password</button>
        </form>
    </div>
</div>
