<div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
          <h3 class="text-center">Reset Password:</h3>
          <form>
            <!-- Inserisci Nome API -->
            <div class="form-group">
              <label for="exampleInputEmail1">Password:</label>
              <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="es. Am78.Klop">
            </div>
            <p class="help-block">La password deve essere composta da almeno 8 caratteri, deve contenere almeno un carattere appartenente alle lettere maiuscole (da A a Z), deve contenere almeno un carattere appartenente ai primi 10 numeri di base (da 0 a 9), deve contenere almeno un carattere appartenente ai caratteri non alfabetici</p>
            <div class="form-group">
              <label for="exampleInputEmail1">Re-Inserisci Password:</label>
              <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="es. Am78.Klop">
            </div>
            <!-- Conferma -->
            <button type="submit" class="btn btn-default">Conferma Cambio Password</button>
          </form>
      </div>
  </div>
