<div class="row">

	<div class="col-xs-10 col-sm-10 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">
	
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Gestione profilo</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item"><a href="#!/account">Dati personali</a></li>
				<li class="list-group-item"><a href="#!/cambio_password">Cambio password</a></li>
				<li class="list-group-item"><a href="#!/api_acquistate">API acquistate</a></li>
				<li class="list-group-item" ng-if="ClientType == 'Basic'">API registrate</li>
				<li class="list-group-item" ng-if="ClientType == 'Developer'"><a href="#!/api_registrate">API registrate</a></li>
			</ul>
		</div>
		
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Crediti</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item list-group-item-info"><b>Possiedi {{Credits}} crediti.</b></li>
				<li class="list-group-item"><a href="#!/ricarica_crediti">Ricarica crediti</a></li>
			</ul>
		</div>
		
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Transazioni</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item"><a href="#!/registro_transazioni">Registro transazioni</a></li>
			</ul>
		</div>
		
		<div class="panel panel-primary" ng-if="ClientType == 'Basic'">
			<!-- Default panel contents -->
			<div class="panel-heading">Altro</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item"><a href="#!/diventa_sviluppatore"><b>Diventa Sviluppatore!</b></a></li>
			</ul>
		</div>
		
	</div>

    <div class="col-xs-10 col-sm-10 col-md-7 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">

       <div class="row">
          
          <!-- UC12.2 e UC12.2.2 -->
          <div class="col-md-11" >

          <div class="page-header">
            <h1>Sei uno Sviluppatore API Market!</h1>
          </div>

            <div class="panel panel-default mainPanelAccount">
				
				<p class="text-centered">Dal tuo account sono stati scalati {{CreditsNeeded}} crediti e sei stato promosso ufficialmente a Sviluppatore API Market!</p>
				<p class="text-centered">Goditi la tua nuova esperienza piena di vantaggi!</p>
				<p class="text-centered">Registra subito una nuova API alla pagina di <a href="#!/registra_api">registrazione API</a>.</p>
				<p class="text-centered">Oppure torna alla <a href="#!">Homepage</a>.</p>

            </div>
            
          </div>

        </div>
    </div>
	
</div>
