<!-- Personalizzazione Interfaccia API -->
<div class="row">
<div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">

       <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Gestione API {{apicurr}}</div>
          <!-- List group -->
          <ul class="list-group" >
            <li class="list-group-item"><a href="#!/modifica_interf_cliente/{{apicurr}}">Modifica Interfaccia Cliente</a></li>
            <li class="list-group-item"><a href="#!/modifica_info_api/{{apicurr}}">Modifica Info API</a></li>
            <li class="list-group-item"><a href="#!/modifica_interf_api/{{apicurr}}">Modifica Interfaccia API</a></li>
          </ul>
        </div>
        </div>

      <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
        <div class="form-group">
            <div  ng-repeat="subservice in subservices track by $index" class="thumbnail">
                    <h5 class="text-center">SubServizio {{$index + 1}}:</h5>
                    <!-- Inserisci Location -->
                    <div>
                      <label for="exampleInputEmail1">Location</label>
                      <input type="text" ng-model = "subservice.location" class="form-control" id="exampleInputEmail1" placeholder="Location:socket://localhost:8030">
                    </div>
                    <!-- Inserisci Protocol -->
                    <div class="form-group">
                      <label for="exampleInputPassword1">Protocol</label>
                      <input type="text" ng-model = "subservice.protocol" class="form-control" id="exampleInputEmail1" placeholder="Protocol: http/sodep">
                    </div>
                    <!-- Interfacce_i_j -->
                    <div  ng-repeat="interface in subservice.interfaces track by $index">
                      <div class="form-group">
                        <label for="exampleInputFile">Interfaccia {{$index+1}}</label>
                        <textarea style="height: 100px;" class="form-control" ng-model="interface" ></textarea>
                        <input accept=".iol" IDS="{{$parent.$index}}" IDI="{{$index}}" type="file" onchange="angular.element(this).scope().saveInterface(this)">
                        <p class="help-block">Inserisci l'interfaccia .iol del tuo servizio</p>
                      </div>
                    </div>
                    <button class="btn btn-success" ng-click="addNewInterface($index);">Aggiungi Interfaccia</button>
                    <button class="btn btn-danger" ng-click="removeInterface($index)">Rimuovi Interfaccia</button>
              </div>
               <button class="btn btn-success" ng-click="addNewSubService()">Aggiungi SubServizio</button>
               <button class="btn btn-danger" ng-click="removeSubService()">Rimuovi Subservizio</button>
          </div>
         
        <!-- Conferma -->
        <button type="submit" ng-click="confermaModifiche()" class="btn btn-default">Conferma modifiche</button>

  </div>
</div>