<!DOCTYPE html>
<html lang="en" ng-app="APIM" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>APIMarket</title>
    <meta name="description" content="Progetto Universitario del gruppo Netbreak per l'insegnamento SWE 2016/2017" />
    <link rel="stylesheet" href="css/app.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- Paypal -->
	<script src="https://www.paypalobjects.com/api/checkout.js"></script>
	<!-- Email -->
	<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
	<script type="text/javascript">
		(function(){
			emailjs.init("user_1Ifbo38IQ4RHINnY0WQ4K");
		})();
	</script>
	
	<!-- angular material css-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/buzzout.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div ng-controller="auth_ctrl" class="container-fluid">
    <!-- Logo APIMarket -->
    <div class="navbar-header">
      <!-- Pulsante con Menu per Mobile -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Logo APIMarket -->
	  <a ng-if="ClientType != 3" class="navbar-brand" href="#!" ng-cloak>
		<img src="http://localhost:8000/resources/icons/netbreaklogo.png" class="netbreaklogo">APIMarket
	  </a>
	  <a ng-if="ClientType == 3" class="navbar-brand" href="#!/admin_home">
		<img src="http://localhost:8000/resources/icons/netbreaklogo.png" class="netbreaklogo">APIMarket
	  </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
		<nav class="nav navbar-nav navbar-right">
			<div class="container-fluid">
				<!-- navbar right da autenticato -->
				<div ng-if="ClientType != 3">
				
					<!-- Utente -->
					<ul class="nav navbar-nav" ng-if="getSession()" ng-cloak>
						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-circle imagesmall avatarmarginr" ng-src="{{Avatar}}" alt="avatar utente">{{Name}} {{Surname}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!/account">Gestione Account</a></li>
							<li ng-if="ClientType == 2" ng-cloak><a href="#!/registra_api">Registrazione nuova API</a></li>
							<li role="separator" class="divider"></li>
							<li><a target="_self" href="http://localhost:8000/resources/user_manual/manuale_utente.pdf" download="manuale_utente.pdf">Manuale Utente</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/logout">Logout</a></li>
						</ul>
						</li>
					</ul>
					<!-- navbar right da guest -->
					<ul class="nav navbar-nav" ng-if="!getSession()" ng-cloak>
						<li><a href="#!/login">Login</a></li>
						<li><a href="#!/registra_utente">Registrati</a></li>
					</ul>
				</div>
				
				<!-- Admin -->
				<div ng-if="ClientType == 3" ng-cloak>
				
					<ul class="nav navbar-nav" ng-cloak>
						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-circle imagesmall avatarmarginr" ng-src="{{Avatar}}" alt="avatar admin">{{Name}} {{Surname}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!/gestione_utenti">Gestione utenti</a></li>
							<li><a href="#!/gestione_api">Gestione API</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/logout">Logout</a></li>
						</ul>
						</li>
					</ul>
				
				</div>
				
			</div>
		</nav>
		
    </div>
  </div>
</nav>

<!-- Qui si materializza la view  -->
<div ng-view></div>

<!-- Codice per saltare una riga  -->
<div class="row"><p></p><p></p></div>
<!-- Footer  -->
<div class="panel-footer"><p class="text-center">APIM  <span app-version></span></p></div>

<!-- angular and libraries -->
<script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
<script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>

<!-- app.js -->
<script src="app.js"></script>
	
<!-- Controllers e services -->
<script src="controllers/account/account.js"></script>
<script src="controllers/acquista_api/acquista_api.js"></script>
<script src="controllers/admin_home/admin_home.js"></script>
<script src="controllers/api/api.js"></script>
<script src="controllers/api_acquistate/api_acquistate.js"></script>
<script src="controllers/api_registrate/api_registrate.js"></script>
<script src="controllers/cambio_password/cambio_password.js"></script>
<script src="controllers/categoria/categoria.js"></script>
<script src="controllers/conferma_login/conferma_login.js"></script>
<script src="controllers/conferma_registrazione/conferma_registrazione.js"></script>
<script src="controllers/conferma_registrazione_api/conferma_registrazione_api.js"></script>
<script src="controllers/conferma_diventa_sviluppatore/conferma_diventa_sviluppatore.js"></script>
<script src="controllers/diventa_sviluppatore/diventa_sviluppatore.js"></script>
<script src="controllers/gestione_utenti/gestione_utenti.js"></script>
<script src="controllers/gestione_api/gestione_api.js"></script>
<script src="controllers/gestione_api_detail/gestione_api_detail.js"></script>
<script src="controllers/lista_api/lista_api.js"></script>
<script src="controllers/login/login.js"></script>
<script src="controllers/login_admin/login_admin.js"></script>
<script src="controllers/logout/logout.js"></script>
<script src="controllers/modifica_info_api/modifica_info_api.js"></script>
<script src="controllers/policych/policych.js"></script>
<script src="controllers/policytp/policytp.js"></script>
<script src="controllers/policytr/policytr.js"></script>
<script src="controllers/recupero_password/recupero_password.js"></script>
<script src="controllers/registra_api/registra_api.js"></script>
<script src="controllers/registra_utente/registra_utente.js"></script>
<script src="controllers/registro_transazioni/registro_transazioni.js"></script>
<script src="controllers/ricarica_crediti/ricarica_crediti.js"></script>
<script src="controllers/visualizza_sla_api/visualizza_sla_api.js"></script>
<script src="controllers/visualizza_utente/visualizza_utente.js"></script>

	
<!-- Version -->
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
</body>
</html>