<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">

        <div class="well">
          Mark Twain
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Gestione profilo</div>
          <!-- List group -->
          <ul class="list-group" >
            <li class="list-group-item"><a href="#!/account">Dati personali</a></li>
            <li class="list-group-item"><a href="#!/api_acquistate">API acquistate</a></li>
            <li class="list-group-item"><a href="#!/api_registrate">API registrate</a></li>
          </ul>
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Pagamenti</div>
          <!-- List group -->
          <ul class="list-group" >
            <li class="list-group-item"><a href="#!/conto">Gestione conto</a></li>
            <li class="list-group-item"><a href="#!/lista_transazioni">Transazioni</a></li>
          </ul>
        </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-7 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">

       <div class="row">
          
          <!-- UC12.2 e UC12.2.2 -->
          <div class="col-md-11" >

          <div class="page-header">
            <h1>API Acquistate</h1>
          </div>

            <div class="panel panel-default mainPanelAccount">

              <table class="table table-striped">
                da implementare
              </table>

            </div>
            
          </div>

        </div>
    </div>
  </div>

