<div class="row">
	<div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
		<h3 class="text-center">Recupero Password:</h3>
		<form>
            <div class="alert alert-danger" role="alert">Email inesistente</div> 
            <!-- Inserisci Nome API -->
            <div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" placeholder="es. johndoe85@forli.it" />
            </div>
            <p class="help-block">Ti invieremo un'email per farti scegliere una nuova password.</p>
            <!-- Conferma -->
            <button type="submit" class="btn btn-default">Conferma Invio</button>
        </form>
    </div>
</div>
