<div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
          <h3 class="text-center">Recupero Password:</h3>
          <form>
            <div class="alert alert-danger" role="alert">Err. 1 Errore invio Email</div> 
            <div class="alert alert-danger" role="alert">Err. 2 Email non esistente in APIM</div> 
            <!-- Inserisci Nome API -->
            <div class="form-group">
              <label for="exampleInputEmail1">Email:</label>
              <input type="nomeapi" class="form-control" id="exampleInputEmail1" placeholder="es. johndoe85 o johndoe85@forli.it">
            </div>
             <p class="help-block">Ti invieremo un'email per farti scegliere una nuova password</p>
            <!-- Conferma -->
            <button type="submit" class="btn btn-default">Conferma Email</button>
          </form>
      </div>
  </div>
