<div class="row">
	<div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
		<h3 class="text-center">Recupero password:</h3>
		<form>
		
			<div class="form-group">
				<div class="alert alert-danger" ng-if="!ok" role="alert">
					<ul ng-repeat="error in errors">
						<li>{{error}}</li>
					</ul>
				</div>
				<div class="alert alert-success" ng-if="sent" role="alert">
					<ul ng-repeat="success in successes">
						<li>{{success}}</li>
					</ul>
				</div>
            </div>
			
            <!-- Inserisci Nome API -->
            <div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" ng-model="email" id="email" name="email" placeholder="es. johndoe85@forli.it" />
            </div>
            <p class="help-block">Ti invieremo un'email con una nuova password.</p>
            <!-- Conferma -->
            <button type="submit" class="btn btn-primary" ng-click="recoverPassword()">Conferma Invio</button>
			
        </form>
    </div>
</div>
