<div class="row">

    <!-- Lista Categorie API -->
    <div class="col-xs-10 col-sm-3 col-md-2 col-xs-offset-1 col-sm-offset-0 col-md-offset-0">
        <div class="panel panel-primary">
			<div class="panel-heading">Categorie</div>
			<div class="list-group">
				<button id="cat0" type="button" class="list-group-item" ng-click="FilterAll()">Tutte</button>
				<button ng-repeat="category in categories" id="cat{{category.IdCategory}}" IdCategory="{{category.IdCategory}}" type="button" class="list-group-item" data-ng-click="FilterCategory($event)">{{category.Name}}</button>
			</div>
        </div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">Ordine</div>
			<div class="list-group">
				<button type="button" ng-model="orderName" ng-click="OrderByName()" class="list-group-item">Alfabetico
					<span ng-if="orderName == 'Name'">
						<img src="http://localhost:8000/resources/icons/arrowup.png" alt="freccia su" class="logosmall">
					</span>
					<span ng-if="orderName == '-Name'">
						<img src="http://localhost:8000/resources/icons/arrowdown.png" alt="freccia giù" class="logosmall">
					</span>
				</button>
			</div>
		</div>
    </div>

    <!--UC6.3: Visualizzazione lista risultati -->
    <div class="col-xs-12 col-sm-9 col-md-10">
	
		<div class="row">
			<div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-0 col-md-offset-0">
				<div class="thumbnail smallpadding">
					<label for="searchname">Ricerca per API: </label>
					<input ng-model="search.Name" id="searchname" class="form-control" placeholder="Nome API" />
					<label class="smallermargintop">Ricerca per Developer: </label>
					<select ng-model="search.Developer" class="form-control">
						<option value="{{undefined}}" selected>Tutti</option>
						<option ng-repeat="developer in AllDevelopers" value="{{developer.IdDeveloper}}">{{anagraphics[developer.IdDeveloper]}}</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="row smallmargintop">
			<div ng-repeat="service in services | filter:search:strict | orderBy:orderName" ng-if="service.Display == true" class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-0 col-md-offset-0">
				<div class="thumbnail">
					<a href="#!/api/{{service.IdMS}}"><img ng-src="{{service.Logo}}" alt="logo api" class="logomedium"></a>
					<div class="caption">
						<h3 class="text-center">{{service.Name}}</h3>
						<p class="text-center">Sviluppatore: <a href="#!/visualizza_utente/{{service.Developer}}">{{anagraphics[service.Developer]}}</a></p>
						<p class="text-center"><a href="#!/api/{{service.IdMS}}" class="btn btn-primary" role="button">Scopri di Più</a></p>
						<a ng-repeat="category in service.categories" href="#!/categoria/{{category.IdCategory}}" class="nounderline"><button type="button" class="label label-success">{{category.CatName}}</button><a/>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</div>