<div class="row">

	<div class="col-xs-10 col-sm-10 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">
	
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Gestione profilo</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item"><a href="#!/account">Dati personali</a></li>
				<li class="list-group-item"><a href="#!/cambio_password">Cambio password</a></li>
				<li class="list-group-item"><a href="#!/api_acquistate">API acquistate</a></li>
				<li class="list-group-item" ng-if="ClientType == 'Basic'">API registrate</li>
				<li class="list-group-item" ng-if="ClientType == 'Developer'"><a href="#!/api_registrate">API registrate</a></li>
			</ul>
		</div>
		
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Crediti</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item list-group-item-info"><b>Possiedi {{Credits}} crediti.</b></li>
				<li class="list-group-item"><a href="#!/ricarica_crediti">Ricarica crediti</a></li>
			</ul>
		</div>
		
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Transazioni</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item"><a href="#!/registro_transazioni">Registro transazioni</a></li>
			</ul>
		</div>
		
		<div class="panel panel-primary" ng-if="ClientType == 'Basic'">
			<!-- Default panel contents -->
			<div class="panel-heading">Altro</div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item"><a href="#!/diventa_sviluppatore"><b>Diventa Sviluppatore!</b></a></li>
			</ul>
		</div>
		
	</div>

    <div class="col-xs-10 col-sm-10 col-md-7 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">

        <div class="row">
			<!-- UC12.1.1 e UC12.1.2-->
			<div class="col-md-11">
				<h1>Dati personali</h1>
				<div class="panel panel-default mainPanelAccount">
					<form class="datiPersonaliForm">
					
						<div class="alert alert-danger" ng-if="!ok" role="alert">
							<ul ng-repeat="error in errors">
								<li>{{error}}</li>
							</ul>
						</div>
					
						<div class="form-group">
							<label for="IdClient">Chiave utente</label>
							<input type="text" class="form-control" ng-model="IdClient" readonly />
						</div>
					
						<div class="form-group">
							<label for="ClientType">Tipologia di account</label>
							<input type="text" class="form-control" ng-model="ClientType" readonly />
						</div>
						
						<div class="form-group">
							<label for="Registration">Data di registrazione</label>
							<input type="text" class="form-control" ng-model="Registration" readonly />
						</div>
						  
						<div class="form-group">
							<label for="Name">Nome</label>
							<input type="text" class="form-control" ng-model="Name" />
						 </div>

						<div class="form-group">
							<label for="Surname">Cognome</label>
							<input type="text" class="form-control" ng-model="Surname" />
						</div>

						<div class="form-group">
							<label for="Email">Email (attenzione, il login dovrà essere effettuato con la nuova email!)</label>
							<input type="email" class="form-control" ng-model="Email" />
						</div>
						
						<div class="form-group">
							<label for="Citizenship">Cittadinanza:</label>
							<select class="form-control" ng-model="Citizenship" name="Citizenship" id="Citizenship">
								<option ng-repeat="country in countries">{{country}}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="AboutMe">AboutMe</label>
							<input type="text" class="form-control" ng-model="AboutMe" />
						</div>

						<div class="form-group">
							<label for="LinkToSelf">LinkToSelf</label>
							<input type="text" class="form-control" ng-model="LinkToSelf" />
						</div>

						<div class="form-group">
							<label for="Paypal">Paypal</label>
							<input type="text" class="form-control" ng-model="PayPal" />
						</div>
						  
						<div class="form-group">
							<label for="Avatar">Avatar</label>
							<div class="thumbnail">
								<img ng-src="{{Avatar}}" class="img-responsive" alt="avatar utente">
							</div>
							<input ng-model="Avatar" accept="image/*" type="file" name="Avatar" id="Avatar" onchange="angular.element(this).scope().uploadavatar(this)" />
							<p class="help-block">L'avatar deve essere in formato png, jpeg oppure gif.</p>
						</div>

						<button type="submit" class="btn btn-primary" ng-click="updateProfile()">Aggiorna</button>
					</form>
				</div>
			</div>
        </div>
    </div>
	
</div>
